#carousel_modal_contain{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.5);
    #carousel_modal{
        position: absolute;
        width: 70%;
        height: 70%;
        background-color: #fff;
        box-shadow: 1px 1px 20px 0px #333;
        left: 15%;
        top: 15%;
        border-radius: 15px;
        padding: 20px;
        animation-name: animatetop;
        animation-duration: 0.4s;
        overflow-y: scroll;
        &::-webkit-scrollbar {width: 1px;}

        /* Add Animation */
        @keyframes animatetop {
            from {top:-100%; opacity:0}
            to {top: 15%; opacity:1}
        }
        #carousel_modal_close{
            position: relative;
            width: 40px;
            height: 40px;
            float: right;
            display: block;
            text-align: center;
            padding: 11px;      
            -webkit-text-stroke: 1px #DD1F26;
            border: 2px solid #DD1F26;      
            border-radius: 100%;
            color: #fff;
            font-weight: bolder;
            &:hover{
                background-color: #DD1F26;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}