#modal_form_container{
    position: relative;
    width: 100%;
    height:100%;
    overflow:auto;
    .info_container{
        position: relative;
        width: calc(100% - 16px);
        height: 35px;
        border: 2px solid #ced4da;
        border-radius: 5px;
        overflow: visible;
        margin-left: 8px;
        margin-bottom: 20px;
        label{
            position: absolute;
            display: block;
            background-color: #fff;
            font-size: 12px;
            color: #555;
            padding: 0px 5px;
            margin-left: 10px;
            top: -10px;
            border-radius: 100%;
            z-index: 2;
        }
        .modal_input{
            height: 100%;
            width: 100%;
            padding-left: 5px;
            outline: none;
            border: 0;
        }
    }    
    .input_focus{
        box-shadow: 0 0 2pt 2pt#dd1f259d;
    }
    h2{
        margin: 0 0 30px 30px;
    }
    #first_part{
        position: absolute;
        height: auto;
        width: 48%;
        left: 0;
        #modal_img_info{
            position: relative;
            width: 80%;
            height: auto;
            left: 10%;
            padding: 15px 15px 0 15px;
            box-sizing: border-box;
            #modal_form_cat_img{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            img{
                width: 100%;
                height: auto;
                max-height: 500px;
            }
        }        
        #modal_form_cat_img_text{
            position: relative;
            border: 0;
            outline: none;
            width: calc(100% + 30px);
            margin-left: -15px;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 15px;
        }
    }
    #second_part{
        position: absolute;
        height: 65%;
        width: 48%;
        left: 52%;
        padding-top: 8px; 
        #filter_container{
            .check_contain{
                position: relative;
                display: inline-block;
                width: auto;
                height: 30px;
                border-radius: 15px;
                border: 2px solid #ced4da;
                overflow: hidden;
                margin-right: 10px;
                margin-bottom: 5px;
                p{
                    padding: 8px 30px;
                    font-size: 13px;
                    margin-top: -3px;
                    color: #212B35;
                    transition: .3s;
                }
                input[type="checkbox"]{
                    opacity: 0;
                    display: none;
                    &:checked ~ .checkmark::after{
                        opacity: 1;
                    }
                    &:checked ~ p{
                        color: #fff;
                        font-size: bold;
                        background-color: #DD1F26;
                    }
                    &:checked ~ .checkmark::before{
                        opacity: 0;
                    }
                }
                .checkmark{
                    position: absolute;
                    display: block;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    margin-right: 10px;
                    &::after{
                        content: "";
                        position: absolute;
                        opacity: 0;
                        left: 10px;
                        top: 3px;
                        width: 5px;
                        height: 12px;
                        border: solid #212B35;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        transition: .2s;
                    }
                    &::before{
                        left: 10px;
                        top: 5px;
                        content: "+";
                        position: absolute;
                        opacity: 1;
                        transform: scale(2);
                        color:#212B35;
                        transition: .2s;
                    }
                }
                &:hover .checkmark{
                    cursor: pointer;
                }
            }
        }
    }    
    #modal_submit{
        position: absolute;
        width: 50%;
        height: 35px;
        left: 25%;
        bottom: 50px;
        border: 0;
        border-radius: 5px;
        color: white;
        padding: auto 32px;
        box-sizing: border-box;
        transition: 0.4s;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        background-color: #212B35;
        &:hover{
            background-color: #DD1F26;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 550px) {
    #modal_form_container{
        display: inline-block;
        .info_container{
            width: 100%;
            margin-left: 0;
        }
        #first_part{
            position: relative;
            height: auto;
            width: 100%;
            margin-bottom: 0;
            #modal_img_info{
                width: 100%;
                left: 0px;
            }                     
            #modal_form_cat_img_text{
                border-radius: 3px;
            }
        }
        #second_part{
            position: relative;
            height: 100%;
            width: 100%;
            left: 0;
        }
        #modal_submit{
            position: relative;
            width: 50%;
            height: 35px;
            left: 25%;
            margin-top: 80px;
            background-color: #212B35;
        }
    }
}