#sede_container{
    margin-top: 30px;
    #form_sede{
        display: flex;
    } 
    #table_sede{
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        thead{
            background-color: #DD1F26;
            color: #fff;
            text-align: center;
            th:nth-child(1){
                width: 5%;
            }
            th:nth-child(2){
                width: 90%;
            }
            th:nth-child(3){
                width: 5%;
            }
            tr{
                border: 1px solid #ffffff;
            }
        }
        tbody{
            border: 1px solid #ffffff;
            td{
                padding: 10px;
            }
            img{
                width: 100%;
                height: auto;
                &:hover{
                    cursor: pointer;
                }
            }
            border: 1px solid #888;
        }
    }
}