#user_container{
    margin-top: 70px;
    height: calc(100vh - 70px);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    #navbar_principal{
        margin-left: -20px;
    }
    #user_search_contain{
        text-align: center;
        h1{
            margin-top: 0;
            text-align: left;
        }
        #user_contain{
            width: 100%;
            height: 500px;
            padding: 20px;
            position: relative;
            box-sizing: border-box;
            #user_info_container{
                box-sizing: border-box;
                text-align: left;
                position: absolute;
                width: 320px;
                height: calc(100% - 100px);
            }
            #user_equip_container{
                box-sizing: border-box;
                text-align: left;
                width: 300px;
                position: absolute;
                top: 20px;
                left: 360px;
                width: calc(100% - 380px);
                height: calc(100% - 100px);
                #table_equip_user{
                    background-color: chartreuse;
                    width: 100%;
                    border: 1;
                }
            }
            #user_cart_submit{
                position: absolute;
                bottom: 20px;
                right: 20px;
                background-color: #DD1F26;
                box-sizing: border-box;
                transition: 0.3s;
                border-radius: 0 5px 5px 0;
                border: 0;
                border-radius: 5px;
                color: white;
                height: 35px;
                width: 200px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
                &:hover{
                    cursor: pointer;
                    font-weight: bold;
                    background-color: #212B35;
                }
            }
        }
        #icon_usr_defautl{
            opacity: .2;
            margin-top: 50px;
            height: 400px;
            z-index: -1;
        }
    }
}