@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

#modal_form_container{
    position: fixed;
    width: 100%;
    height:100%;
    .info_container{
        height: 40px;
        border: 2px solid #ced4da;
        border-radius: 5px;
        overflow: visible;
        margin-left: 8px;
        margin-bottom: 20px;
        label{
            position: fixed;
            display: block;
            background-color: #fff;
            font-size: 12px;
            color: #555;
            padding: 0px 5px;
            margin-left: 10px;
            top: -10px;
            border-radius: 100%;
            z-index: 2;
        }
        .modal_input{
            height: 100%;
            width: 100%;
            padding-left: 5px;
            outline: none;
            border: 0;
        }
    }
    .input_focus{
        box-shadow: 0 0 2pt 2pt#dd1f259d;
    }
    h2{
        margin-left: 30px;
    }
    #second_part{
        position: fixed;
        height: 65%;
        width: 48%;
        left: 52%;
        padding-top: 8px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: #DD1F26;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #B3B3B3;
            box-shadow:  0 2px 20px rgba(0, 0, 0, 1);
        }
        #modal_sede_info{
            select{
                position: fixed;
                background-color: #fff;
                color: #777;
                height: 100%;
                width: 100%;
                padding-left: 5px !important;
                border: 1px solid #fff !important;
                -webkit-appearance: none;
                &:focus{ outline: none;}
                option{
                    color: #000;
                }
            }
            &::after{
                content: '';
                position: fixed;
                height: 10px;
                width: 10px;
                border-bottom: 3px solid #212B35;
                border-right: 3px solid #212B35;
                transform: rotate(45deg);
                top: 5px;
                right: 10px;
                transition: .2s;
            }
            &:hover::after{
                border-bottom: 3px solid #DD1F26;
                border-right: 3px solid #DD1F26;
            }
        }
        #filter_container{
            .check_contain{
                position: relative;
                display: inline-block;
                width: auto;
                height: 30px;
                border-radius: 15px;
                border: 2px solid #ced4da;
                overflow: hidden;
                margin-right: 10px;
                margin-bottom: 5px;
                p{
                    padding: 8px 30px;
                    font-size: 13px;
                    margin-top: -3px;
                    color: #212B35;
                    transition: .3s;
                }
                input[type="checkbox"]{
                    opacity: 0;
                    display: none;
                    &:checked ~ .checkmark::after{
                        opacity: 1;
                    }
                    &:checked ~ p{
                        color: #fff;
                        font-size: bold;
                        background-color: #DD1F26;
                    }
                    &:checked ~ .checkmark::before{
                        opacity: 0;
                    }
                }
                .checkmark{
                    position: absolute;
                    display: block;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    margin-right: 10px;
                    &::after{
                        content: "";
                        position: absolute;
                        opacity: 0;
                        left: 10px;
                        top: 3px;
                        width: 5px;
                        height: 12px;
                        border: solid #212B35;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        transition: .2s;
                    }
                    &::before{
                        left: 10px;
                        top: 5px;
                        content: "+";
                        position: absolute;
                        opacity: 1;
                        transform: scale(2);
                        color:#212B35;
                        transition: .2s;
                    }
                }
                &:hover .checkmark{
                    cursor: pointer;
                }
            }
        }
    }
    #first_part{
        position: absolute;
        height: 100%;
        width: 48%;
        left: 0;
        #modal_img_info{
            position: relative;
            width: 100%;
            height: auto;
            left: 10%;
            padding: 15px 15px 0 15px;
            box-sizing: border-box;
            #modal_form_cat_img{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            img{
              width: 100%;
              height: auto;
            }
        }
        #modal_form_cat_img_text{
            position: relative;
            border: 0;
            outline: none;
            width: calc(100% + 30px);
            margin-left: -15px;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 15px;
        }
    }
    #modal_submit{
        position: absolute;
        width: 50%;
        height: 35px;
        left: 25%;
        bottom: 50px;
        border: 0;
        border-radius: 5px;
        color: white;
        padding: auto 32px;
        box-sizing: border-box;
        transition: 0.4s;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        background-color: #212B35;
        &:hover{
            background-color: #DD1F26;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

#modal_form_container::-webkit-scrollbar{
  width: 0px;
  padding-bottom: 60px;
}

#modal_form_container::-webkit-scrollbar-thumb {
    background: #DD1F26;
    border-radius: 10px;
}

#modal_form_container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow:  0 2px 20px rgba(0, 0, 0, 1);
}

  #modal_serialNumber_info{
    display: grid;
    grid-template-columns: 85% 15%;
    max-height: 35px;

  }

  .SerialNumber-Imput{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .scaner-icon{
    height: 31px;
    width: 100%;
    border-left: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212B35;
  }

  .scaner-icon-img:hover{
    color: #DD1F26;
    transition: .2s;
  }

  #RegisterEquipment_Scanner_close{
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px;
    -webkit-text-stroke: 1px #DD1F26;
    border: 2px solid #DD1F26;
    border-radius: 100%;
    color: #fff;
    font-weight: bolder;
    z-index: 10000000000;
    right: 20px;
    top: 20px;
    background-color: #DD1F26;
    &:hover{
        background-color: #212B35;
        font-weight: bolder;
        cursor: pointer;
    }
  }

  .assignedSearch{
    width: 100%;
    display: flex;
    justify-content: center;
  }
