.login_container{
  width: 100%;
  height: 100%;

  #login_back{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    background-image: url('../../assets/img/login_back.jpg');
    background-size: 150px;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #login_form_container{
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: center;

    #login_form{
      position: absolute;
      width: 400px;
      height: 70%;
      left: 50%;
      top: 15%;
      margin-left: -200px;
      background-color: #ffffff;
      border-radius: 2.5%;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      
      #login_form_head{
        img{
          width: 100%;
          height: auto;
        }
      }
      span{
        color: #999;
      }
      #login_form_body{
        margin-top: 50px;
        .login_info_container{
          width: 70%;
          margin-left: 15%;
          height: 30px;
          border: 2px solid #ced4da;
          border-radius: 5px;
          display: grid;
          grid-template-columns: 10% 90%;
          overflow: hidden;
          margin-top: 25px;
          
          transition: 0.3s;
          label{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
          }
        }
        .login_icon{
          width: 90%;
          margin-left: 5%;
          height: auto;
          margin: auto;
        }
        .login_input{
          padding-left: 5px;
          outline: none;
          border: 0;
        }
        .btn_login{
          width: 50%;
          height: 35px;
          margin: auto;
          border: 0;
          border-radius: 5px;
          color: white;
          padding: auto 32px;
          box-sizing: border-box;
          transition: 0.4s;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          &:hover{
            background-color: #DD1F26; 
            cursor: pointer; 
            font-weight: bold;
          }
        }
        #login_submit_info{          
          margin-top: 25px;
          #login_submit{
            background-color: #212B35;
            &:hover{
              background-color: #DD1F26;  
            }
          }
        }
        #separator{
          background-color: #ccc;
          border-radius: 100%;
          height: 1px;
          filter: blur(2px);
          margin-top: 80px;
        }

        #login_register{     
          margin-top: 10px;
          color:#212B35;
          grid-row: 9 / 10;
          grid-column: 2 / 3;
          background-color: #ccc;
          &:hover{            
            background-color: #DD1F26; 
            color: white;
          }
        }
      }

      .login_input_focus{        
        box-shadow: 0 0 2pt 2pt#dd1f259d;
      }

    }

  }

}

