@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
background:#212B35;
position:fixed;
bottom:0;
height:calc(100% - 70px);
left:0;
overflow:auto;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
color: rgba(0, 0, 0, 0);
border-right: 2px solid white;
}

.main-menu {
position:fixed;
color: #212B35;
top:70px;
bottom:0;
height:calc(100% - 70px);
left:0;
width:35px;
overflow:auto;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
text-decoration: none;
display: flex;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:100%;
}

.face-side{
  position: fixed;
  z-index: 10000;
  align-self: center;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
font-size:20px;
padding-left: 35px;
color: #F7F7F7;
width:100em;
  font-family: 'Titillium Web', sans-serif;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
background-color:#DD1F26;
}

.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
